<!-- -------------------------------------------------------------------------------- -->
<!--Consumir un servicio Web que devuelva datos en formato JSon-->
<div *ngIf="banderas!=null; else espera">
  <table>
    <tr *ngFor="let art of banderas">
      <mat-card class="example-card" >
        <mat-card-header >
          <!-- <div mat-card-avatar class="{{art.flag}}"></div> -->
          <mat-card-title>{{art.name}}</mat-card-title>
          <mat-card-subtitle>{{art.capital}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{art.flag}}" alt="">
        <!-- <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>
    </tr>
  </table>
</div>
<ng-template  #espera>Esperando datos...</ng-template>
<!-- -------------------------------------------------------------------------------- -->
<!--Consumir un servicio Web que devuelva datos en formato JSon-->
<div *ngIf="banderas!=null; else espera">
  <!--la directiva *ngIf verificamos si la variable banderas tiene un null procedemos a mostrar el contenido de la etiqueta 'ng-template':-->
  <table style="text-align:center" border="1">
    <tr>
      <td>Nombre</td><td>Capital</td><td>Bandera</td>
    </tr>
    <tr *ngFor="let art of banderas">
      <td>{{art.name}}</td>
      <td>{{art.capital}}</td>
      <td>
        <img src="{{art.flag}}" alt="">
      </td>
    </tr>
  </table>
  <!-- Para mostrar los datos de la propiedad 'banderas' -->
</div>
<ng-template  #espera>Esperando datos...</ng-template>

<!--CAP15-->
  <div *ngIf="articulos2!=null; else espera">
  <!--la directiva *ngIf verificamos si la variable articulos tiene un null procedemos a mostrar el contenido de la etiqueta 'ng-template':-->
  <table style="text-align:center" border="1">
    <tr>
      <td>Codigo</td><td>Descripcion</td><td>Precio</td>
    </tr>
    <tr *ngFor="let art of articulos2">
      <td>{{art.codigo}}</td>
      <td>{{art.descripcion}}</td>
      <td>{{art.precio}}</td>
    </tr>
  </table>
  <!-- Para mostrar los datos de la propiedad 'articulos' lo hacemos como lo hemos visto anteriormente: -->
</div>
<ng-template  #espera>Esperando datos...</ng-template> 
<!--CAP14-->
<div style="text-align:center">
  <app-dado2 valor="G59"></app-dado2>
</div>
<!--CAP13-->
<div style="text-align:center">
  <app-listadoarticulos [datos]="articulos"></app-listadoarticulos>
</div>
<!--CAP12-->
<div style="text-align:center">
  <app-selectornumerico minimo="1" maximo="10" #selector1></app-selectornumerico>
  <br>  
  <button (click)="fijarSelector1(1)">Fijar en 1</button><br>
  <button (click)="fijarSelector1(5)">Fijar en 5</button><br>
  <button (click)="fijarSelector1(10)">Fijar en 10</button>
  <hr>
  <app-selectornumerico minimo="1" maximo="10" #selector2></app-selectornumerico>    
  <br>
  <button (click)="fijarSelector2(1)">Fijar en 1</button><br>
  <button (click)="fijarSelector2(5)">Fijar en 5</button><br>
  <button (click)="fijarSelector2(10)">Fijar en 10</button>  
</div>
<!--CAP11-->
<div style="text-align:center">
  <app-selectornumerico minimo="1" maximo="10" #selector1></app-selectornumerico>
  <br>
  <button (click)="selector1.fijar(1)">Fijar en 1</button><br>
  <button (click)="selector1.fijar(5)">Fijar en 5</button><br>
  <button (click)="selector1.fijar(10)">Fijar en 10</button>
</div>
<!--CAP10-->
<div style="text-align:center">
  <h1>Prueba de la componente cronometro</h1>
  <app-cronometro inicio="15" (multiplo10)="actualizar($event)"></app-cronometro>
  <h2>Evento</h2>
  <h3>{{mensaje}}</h3>
</div>
<!--CAP9-->
<div style="text-align:center">
  <!-- Mediante interpolación-->
  <app-dado valor="{{valor1}}"></app-dado>
  <app-dado valor="{{valor2}}"></app-dado>
  <app-dado valor="{{valor3}}"></app-dado>
  
  <!-- Mediante el enlace de propiedades, también llamado 'property binding'. -->
  <!-- Debemos encerrar entre corchetes el nombre de la propiedad y luego asignar 
       un atributo definido en el modelo de datos: -->
  <!--
  <app-dado [valor]="valor1"></app-dado>
  <app-dado [valor]="valor2"></app-dado>
  <app-dado [valor]="valor3"></app-dado>
  -->
  <hr>
  <button (click)="tirar()">Tirar</button>  
  <hr>
  <p>Resultado:{{resultado}}</p>
</div>
<!-- EJEMPLO BANDERA PROFE-->
<app-info-bandera></app-info-bandera>

<mat-toolbar color="primary">Toolbar de material</mat-toolbar>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<p>
  <mat-toolbar>
    <span>My Application</span>
  </mat-toolbar>
</p>

<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>

<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>

<mat-card> Card de material</mat-card>
<router-outlet>router material</router-outlet>

